<div class=container>
	<% @articles.each do |article| %>
		<div class=row>	
			<div class="col-lg-10">
				<h1> <%= article.title %> </h1>	
				<div>
					<%= article.down %>
				</div>
				<div>
					<%= article.body %>
				</div>
				<div>
					<%= article.created_at %>
				</div>
				<div>
					<%= article.comments_count %>
				</div>
			</div>
			<div class="col-lg-2">
				<button class="btn-new btn-success btn-lg "> <%= link_to "Ver Noticia", article_path(id:article.id)  %> </button>
			</div>
		</div>
	<% end %>
</div>
